<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyan.mall.goods.dao.biz.GoodsBizMapper">


    <select id="queryGoods" resultMap="com.suyan.mall.goods.dao.GoodsMapper.BaseResultMap" parameterType="com.suyan.mall.goods.req.GoodsQueryDTO">
        SELECT
        <choose>
            <when test="returnFields!=null">${returnFields}</when>
            <otherwise>
                <include refid="com.suyan.mall.goods.dao.GoodsMapper.Base_Column_List"/>,
                ( SELECT sum( inventory ) FROM tb_goods_sku WHERE goods_id = tb_goods.id ) AS inventory
            </otherwise>
        </choose>
        FROM tb_goods
        <where>
            <if test="id!=null">AND id = #{id,jdbcType=BIGINT}</if>
            <if test="idList != null and idList.size > 0">
                <foreach item="item" separator="," open="AND id in (" close=")" collection="idList">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="shopId!=null">AND shop_id = #{shopId,jdbcType=BIGINT}</if>
            <if test="shopIdList != null and shopIdList.size > 0">
                <foreach item="item" separator="," open="AND shop_id in (" close=")" collection="shopIdList">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="goodsName!=null and goodsName!=''">AND goods_name = #{goodsName,jdbcType=VARCHAR}</if>
            <if test="goodsNameLike != null and goodsNameLike != '' ">AND goods_name LIKE
                concat(#{goodsNameLike,jdbcType=VARCHAR},'%')
            </if>
            <if test="goodsNameList != null and goodsNameList.size > 0">
                <foreach item="item" separator="," open="AND goods_name in (" close=")" collection="goodsNameList">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="goodsCategoryId!=null">AND goods_category_id = #{goodsCategoryId,jdbcType=INTEGER}</if>
            <if test="goodsCategoryIdList != null and goodsCategoryIdList.size > 0">
                <foreach item="item" separator="," open="AND goods_category_id in (" close=")"
                         collection="goodsCategoryIdList">#{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="brandId!=null">AND brand_id = #{brandId,jdbcType=INTEGER}</if>
            <if test="brandIdList != null and brandIdList.size > 0">
                <foreach item="item" separator="," open="AND brand_id in (" close=")" collection="brandIdList">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="isMoreSpec!=null">AND is_more_spec = #{isMoreSpec,jdbcType=BOOLEAN}</if>
            <if test="isMoreSpecList != null and isMoreSpecList.size > 0">
                <foreach item="item" separator="," open="AND is_more_spec in (" close=")" collection="isMoreSpecList">
                    #{item,jdbcType=BOOLEAN}
                </foreach>
            </if>
            <if test="originalPriceFrom != null">
                <![CDATA[AND original_price >= #{originalPriceFrom,jdbcType=DECIMAL}]]></if>
            <if test="originalPriceTo != null">
                <![CDATA[AND original_price <= #{originalPriceTo,jdbcType=DECIMAL}]]></if>
            <if test="listPriceFrom != null"><![CDATA[AND list_price >= #{listPriceFrom,jdbcType=DECIMAL}]]></if>
            <if test="listPriceTo != null"><![CDATA[AND list_price <= #{listPriceTo,jdbcType=DECIMAL}]]></if>
            <if test="minimumQuantity!=null">AND minimum_quantity = #{minimumQuantity,jdbcType=INTEGER}</if>
            <if test="minimumQuantityList != null and minimumQuantityList.size > 0">
                <foreach item="item" separator="," open="AND minimum_quantity in (" close=")"
                         collection="minimumQuantityList">#{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="expressFreightFrom != null">
                <![CDATA[AND express_freight >= #{expressFreightFrom,jdbcType=DECIMAL}]]></if>
            <if test="expressFreightTo != null">
                <![CDATA[AND express_freight <= #{expressFreightTo,jdbcType=DECIMAL}]]></if>
            <if test="sales!=null">AND sales = #{sales,jdbcType=INTEGER}</if>
            <if test="salesList != null and salesList.size > 0">
                <foreach item="item" separator="," open="AND sales in (" close=")" collection="salesList">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="perPersonLimit!=null">AND per_person_limit = #{perPersonLimit,jdbcType=INTEGER}</if>
            <if test="perPersonLimitList != null and perPersonLimitList.size > 0">
                <foreach item="item" separator="," open="AND per_person_limit in (" close=")"
                         collection="perPersonLimitList">#{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="viewCount!=null">AND view_count = #{viewCount,jdbcType=INTEGER}</if>
            <if test="viewCountList != null and viewCountList.size > 0">
                <foreach item="item" separator="," open="AND view_count in (" close=")" collection="viewCountList">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="goodsStatus!=null">AND goods_status = #{goodsStatus,jdbcType=TINYINT}</if>
            <if test="goodsStatusList != null and goodsStatusList.size > 0">
                <foreach item="item" separator="," open="AND goods_status in (" close=")" collection="goodsStatusList">
                    #{item,jdbcType=TINYINT}
                </foreach>
            </if>
            <if test="createTimeFrom != null"><![CDATA[AND create_time >= #{createTimeFrom,jdbcType=TIMESTAMP}]]></if>
            <if test="createTimeTo != null"><![CDATA[AND create_time <= #{createTimeTo,jdbcType=TIMESTAMP}]]></if>
            <if test="updateTimeFrom != null"><![CDATA[AND update_time >= #{updateTimeFrom,jdbcType=TIMESTAMP}]]></if>
            <if test="updateTimeTo != null"><![CDATA[AND update_time <= #{updateTimeTo,jdbcType=TIMESTAMP}]]></if>
            <if test="isDeleted!=null">AND is_deleted = #{isDeleted,jdbcType=BOOLEAN}</if>
            <if test="isDeletedList != null and isDeletedList.size > 0">
                <foreach item="item" separator="," open="AND is_deleted in (" close=")" collection="isDeletedList">
                    #{item,jdbcType=BOOLEAN}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="orderBy!=null and orderBy!=''">order by ${orderBy}</when>
            <otherwise>order by id</otherwise>
        </choose>
    </select>


</mapper>