<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyan.mall.goods.dao.biz.GoodsSkuBizMapper">

    <select id="getMaxSkuCode" resultType="java.lang.String">
        SELECT
            sku_code
        FROM
            tb_goods_sku
        ORDER BY
            id DESC
        LIMIT 1
    </select>


</mapper>