<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyan.mall.goods.dao.biz.GoodsBizMapper">


    <update id="updateInventory">
        UPDATE tb_goods
        SET inventory = ( SELECT sum( inventory ) FROM tb_goods_sku WHERE is_deleted = 0 AND goods_id = #{id, jdbcType=BIGINT} )
        WHERE
            id = #{id, jdbcType=BIGINT}
    </update>


</mapper>