<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyan.mall.goods.dao.GoodsAttributeMapper">
    <resultMap id="BaseResultMap" type="com.suyan.mall.goods.model.GoodsAttribute">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_category_attribute_id" jdbcType="BIGINT" property="goodsCategoryAttributeId" />
    <result column="goods_category_attribute_name" jdbcType="VARCHAR" property="goodsCategoryAttributeName" />
    <result column="goods_category_attribute_value_id" jdbcType="BIGINT" property="goodsCategoryAttributeValueId" />
    <result column="goods_category_attribute_value_name" jdbcType="VARCHAR" property="goodsCategoryAttributeValueName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_id, goods_category_attribute_id, goods_category_attribute_name, goods_category_attribute_value_id, 
    goods_category_attribute_value_name, create_time, update_time, is_deleted
  </sql>
  <select id="selectByExample" parameterType="com.suyan.mall.goods.model.GoodsAttributeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_goods_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_goods_attribute
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_goods_attribute
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.suyan.mall.goods.model.GoodsAttributeExample">
    delete from tb_goods_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suyan.mall.goods.model.GoodsAttribute">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
    insert into tb_goods_attribute (goods_id, goods_category_attribute_id, 
      goods_category_attribute_name, goods_category_attribute_value_id, 
      goods_category_attribute_value_name, create_time, 
      update_time, is_deleted)
    values (#{goodsId,jdbcType=BIGINT}, #{goodsCategoryAttributeId,jdbcType=BIGINT}, 
      #{goodsCategoryAttributeName,jdbcType=VARCHAR}, #{goodsCategoryAttributeValueId,jdbcType=BIGINT}, 
      #{goodsCategoryAttributeValueName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.suyan.mall.goods.model.GoodsAttribute">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
    insert into tb_goods_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCategoryAttributeId != null">
        goods_category_attribute_id,
      </if>
      <if test="goodsCategoryAttributeName != null">
        goods_category_attribute_name,
      </if>
      <if test="goodsCategoryAttributeValueId != null">
        goods_category_attribute_value_id,
      </if>
      <if test="goodsCategoryAttributeValueName != null">
        goods_category_attribute_value_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryAttributeId != null">
        #{goodsCategoryAttributeId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryAttributeName != null">
        #{goodsCategoryAttributeName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategoryAttributeValueId != null">
        #{goodsCategoryAttributeValueId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryAttributeValueName != null">
        #{goodsCategoryAttributeValueName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suyan.mall.goods.model.GoodsAttributeExample" resultType="java.lang.Long">
    select count(*) from tb_goods_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_goods_attribute
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsCategoryAttributeId != null">
        goods_category_attribute_id = #{record.goodsCategoryAttributeId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsCategoryAttributeName != null">
        goods_category_attribute_name = #{record.goodsCategoryAttributeName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCategoryAttributeValueId != null">
        goods_category_attribute_value_id = #{record.goodsCategoryAttributeValueId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsCategoryAttributeValueName != null">
        goods_category_attribute_value_name = #{record.goodsCategoryAttributeValueName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_goods_attribute
    set id = #{record.id,jdbcType=BIGINT},
      goods_id = #{record.goodsId,jdbcType=BIGINT},
      goods_category_attribute_id = #{record.goodsCategoryAttributeId,jdbcType=BIGINT},
      goods_category_attribute_name = #{record.goodsCategoryAttributeName,jdbcType=VARCHAR},
      goods_category_attribute_value_id = #{record.goodsCategoryAttributeValueId,jdbcType=BIGINT},
      goods_category_attribute_value_name = #{record.goodsCategoryAttributeValueName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suyan.mall.goods.model.GoodsAttribute">
    update tb_goods_attribute
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryAttributeId != null">
        goods_category_attribute_id = #{goodsCategoryAttributeId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryAttributeName != null">
        goods_category_attribute_name = #{goodsCategoryAttributeName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategoryAttributeValueId != null">
        goods_category_attribute_value_id = #{goodsCategoryAttributeValueId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryAttributeValueName != null">
        goods_category_attribute_value_name = #{goodsCategoryAttributeValueName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suyan.mall.goods.model.GoodsAttribute">
    update tb_goods_attribute
    set goods_id = #{goodsId,jdbcType=BIGINT},
      goods_category_attribute_id = #{goodsCategoryAttributeId,jdbcType=BIGINT},
      goods_category_attribute_name = #{goodsCategoryAttributeName,jdbcType=VARCHAR},
      goods_category_attribute_value_id = #{goodsCategoryAttributeValueId,jdbcType=BIGINT},
      goods_category_attribute_value_name = #{goodsCategoryAttributeValueName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <update id="logicalDeleteByPrimaryKey">
        UPDATE tb_goods_attribute
        SET
            is_deleted=1
        WHERE id = #{id,jdbcType=BIGINT} 
    </update>

    <select id="selectByPrimaryKeyForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_goods_attribute
        WHERE id = #{id,jdbcType=BIGINT} 
        AND is_deleted=0
        FOR UPDATE
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
        <trim prefix="insert into tb_goods_attribute (" suffix=") values" suffixOverrides=",">
            goods_id,
            goods_category_attribute_id,
            goods_category_attribute_name,
            goods_category_attribute_value_id,
            goods_category_attribute_value_name,
        </trim>
        <foreach collection="modelList" item="bean" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
            #{bean.goodsId,jdbcType=BIGINT} ,
            #{bean.goodsCategoryAttributeId,jdbcType=BIGINT} ,
            #{bean.goodsCategoryAttributeName,jdbcType=VARCHAR} ,
            #{bean.goodsCategoryAttributeValueId,jdbcType=BIGINT} ,
            #{bean.goodsCategoryAttributeValueName,jdbcType=VARCHAR} ,
            </trim>
        </foreach>
    </insert>

    <select id="selectByGoodsCategoryAttributeId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_goods_attribute
        WHERE  goods_category_attribute_id = #{goodsCategoryAttributeId,jdbcType=BIGINT}
    AND is_deleted = 0
    </select>
    <select id="selectByGoodsCategoryAttributeValueId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_goods_attribute
        WHERE  goods_category_attribute_value_id = #{goodsCategoryAttributeValueId,jdbcType=BIGINT}
    AND is_deleted = 0
    </select>
    <select id="selectByGoodsId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_goods_attribute
        WHERE  goods_id = #{goodsId,jdbcType=BIGINT}
    AND is_deleted = 0
    </select>

</mapper>